@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

.heading{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
}

.para-text{
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
}

.scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  